<% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1>Results for "<%= query.term %>"</h1>
		<p class="lead">Located in <%= query.location %></p>
	</header>

	<div class="row text-center" id="camps">
		<% data["businesses"].forEach(function(business){%>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="<%= business["image_url"] %>" alt="<%= business["name"] %>" />
					<div class="caption">
						<strong><h3 class="businessName"><%= business["name"] %></h3></strong>
						<p><%= business["snippet_text"] %></p>
					</div>
					<button class="btn btn-lg btn-danger btn-block"><a style="color: inherit;"href="<%=business['url']%>">VISIT THIS <%= query.term.toUpperCase() %></a></button>
				</div>
			</div>
		<%	}); %>
	</div>
</div>

<% include partials/footer %>